
/* override normal */

body
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50

a
  color #409eff
  text-decoration none

/* override element-ui */

.el-form-item__error
  left 0
  right 0
  text-align center 

.el-message
  width 90%
  top 0
  max-width 420px
  min-width 300px
  p
    line-height 18px

.el-form-item.is-success
  .el-input__inner
  .el-input__inner:focus
  .el-textarea__inner
  .el-textarea__inner:focus
    border-color #81c784

/* override quill */

.ql-container, .ql-toolbar
  border-color #eeeeee !important

/* fade */

.fade-enter-active
.fade-leave-active
  transition opacity 0.2s
.fade-enter
.fade-leave-active
  opacity 0

/* fade-transform */

.fade-transform-leave-active
.fade-transform-enter-active
  transition: all .2s
.fade-transform-enter
  opacity 0
  transform translateY(-5px)
.fade-transform-leave-to
  opacity 0
  transform translateY(0) // fuck > 0

/* override components */

.pure-nav-menu
  position relative
  &.horizontal
    &>.el-menu-item
    &>.el-submenu
      .text
        letter-spacing .5em
        text-indent .5em
      @media (max-width: 768px)
        .text
          letter-spacing 0
          text-indent 0
        &>.el-submenu__title
          padding-left 1em
          padding-right 1em
  &>.el-menu-item
  &>.el-submenu
    .text
      display inline-block
      transition-property letter-spacing text-indent
      transition-duration .3s
    &.submenu-title-noDropdown
      padding-left 1em
      padding-right 1em
  &>.el-menu-item
    height 60px
    line-height 60px

  &.vertical
    .el-submenu__title
    .el-menu-item
      height 50px
      line-height 50px
    .el-menu-item.is-active
      transition border
      border-right 3px solid #409eff
      background #ecf5ff

.table-no-border
  td
    border-bottom none

.bg-purple
  background #fff
  box-shadow 0px 7px 50px 0px #7face23b
  border 1px solid #eff3ff

.area-title
  margin 20px 0 20px
  font-weight 100
  color #4b4949
  font-size 22px
  .area-right-side
    float right
