
/* override normal */

body
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50

a
  color #409eff
  text-decoration none

// FUCK SCROLLBAR STYLE maybe :)
// ::-webkit-scrollbar-thumb
//   background-color #ddd
//   height 50px
//   outline-offset -3px
//   outline 3px solid #fff
//   -webkit-border-radius 10px
//   border 5px solid #fff
//   cursor pointer
//   &:hover
//     background-color #ccc
//     height 50px
// ::-webkit-scrollbar
//   width 18px
//   height 18px
//   @media (max-width: 768px)
//     width 14px
//     height 14px
// ::-webkit-scrollbar-track-piece
//   background-color transparent
//   -webkit-border-radius 0

/* override element-ui */

.el-form-item__error
  left 0
  right 0
  text-align center 

.el-message
  width 90%
  top 0
  max-width 420px
  min-width 300px
  p
    line-height 18px

/* fade */

.fade-enter-active
.fade-leave-active
  transition opacity 0.28s
.fade-enter
.fade-leave-active
  opacity 0

/* fade-transform */

.fade-transform-leave-active
.fade-transform-enter-active
  transition: all .28s
.fade-transform-enter
  opacity 0
  transform translateY(-5px)
.fade-transform-leave-to
  opacity 0
  transform translateY(5px)

/* override conponents */

.pure-nav-menu
  position relative
  &.horizontal
    &>.el-menu-item
    &>.el-submenu
      .text
        letter-spacing .5em
        text-indent .5em
      @media (max-width: 768px)
        .text
          letter-spacing 0
          text-indent 0
        &>.el-submenu__title
          padding-left 1em
          padding-right 1em
  &>.el-menu-item
  &>.el-submenu
    .text
      display inline-block
      transition-property letter-spacing text-indent
      transition-duration .3s
    &.submenu-title-noDropdown
      padding-left 1em
      padding-right 1em
  &>.el-menu-item
    height 60px
    line-height 60px

  &.vertical
    .el-submenu__title
    .el-menu-item
      height 50px
      line-height 50px
    .el-menu-item.is-active
      transition border
      border-right 3px solid #409eff
      background #ecf5ff

.el-form-item.is-success
  .el-input__inner
  .el-input__inner:focus
  .el-textarea__inner
  .el-textarea__inner:focus
    border-color #81c784
